
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

nav {
    background-color:green
}

h1 {
    font-family: 'Montserrat';
    font-size: 100px;
}

footer.page-footer {
    background-color:green;
}

a {
  font-family: "Montserrat";
  font-weight: 400;
}

p{
    font-family: "Montserrat";
    font-weight: 400;
}

