extends layouts/main
block content

  style.
    * {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    }
    body{
    background: #1e1e1e ;
    }
    h1{
    margin-top: 250px;
    font-weight: 600;
    color: #fff;
    }
    span{
    font-size: 27px;
    color: #fff;
    }
    button{
    background: grey;
    color: #fff;
    padding: 22px 46px;
    border: none;
    margin-top: 30px;
    font-size:20px;
    cursor:pointer;
    }
    footer{
    margin-top:190px;
    }

  .container
    .row
      .col-xl-12
        h1 Hello, My name is Sokhibjon
        span I&apos;m Back-End developer
        br
        button Call me
