extends layouts/main
block content 
    style.
        * {
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
        }
        body{
        background: #1e1e1e ;
        }
        .top{
            background:#000005;
            height:50px;
            bottom:0;
        }
        .bottom{
            background:#c2c2c2;
            height:50px;
            transform:translateY(-28px)
        }
        h4{
            color:#fff;
            font-size:18px;
            padding:14px 0 10px 10px
        }
        h3{
            color:#000;
            font-size:18px;
            padding:14px 0 10px 10px
        }
        .row {
            margin-top:50px;
        }
        .col.s4{
            margin-bottom: 30px
        }
        footer{
            margin-top:26px;
        }
       

            
    .header     
        .container 
            .row    
                .col.s4 
                    .top 
                        h4 РАЗРАБОТКА САЙТОВ
                    .bottom 
                        h3 Цена договорная 
                .col.s4 
                    .top 
                        h4 ДИЗАЙН
                    .bottom 
                        h3 Цена договорная 
                .col.s4 
                    .top 
                        h4 SMM
                    .bottom 
                        h3 Цена договорная 
               
                .col.s4 
                    .top 
                        h4 SEO
                    .bottom 
                        h3 Цена договорная 
                .col.s4 
                    .top 
                        h4 3Ds MAX
                    .bottom 
                        h3 Цена договорная 
                .col.s4 

                    .top 
                        h4 PHOTO MONTAJ
                    .bottom 
                        h3 Цена договорная 

                .col.s4 
                    .top 
                        h4 SEO
                    .bottom 
                        h3 Цена договорная 
                .col.s4 
                    .top 
                        h4 3Ds MAX
                    .bottom 
                        h3 Цена договорная 
                .col.s4 
                    .top 
                        h4 АРХИТЕКТУРА
                    .bottom 
                        h3 Цена договорная


                            


