style.
  nav{
    background:black;
  }
nav
  .container 
    .nav-wrapper
    a.brand-logo(href='/') Developer  =)
    ul#nav-mobile.right.hide-on-med-and-down
      li
        a(href='/') Home
      li
        a(href='/contact/') Contacts
      li
        a(href='/service/') Service
      

